.nav__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #ffffff;
  margin-bottom: 40px;
}

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 40px;
}

.nav__title,
.nav__title > a {
  color: #7000ff;
  font-family: Quicksand;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.nav__link,
.nav__link > a {
  list-style: none;
  color: #000;
  font-family: Quicksand;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  transition: 0.3s;
}

.nav__link > a:hover {
  text-decoration: underline;
  transition: 0.3s;
}
